/*Color*/
.has-bg-color, .has-bg-color-hover:hover {
  background-color: #e1a4a5;
  color: #fff !important;
}

.nav-2 .cart-shopping .totals {
  background: #e1a4a5;
}

.has-bg-color-deep-hover:hover {
  background-color: #c79192;
}

.has-text-color, .has-text-color-hover:hover, .has-drop:hover > a {
  color: #e1a4a5 !important;
}

.testimonials-1 .testimonials-content:before {
  color: #e1a4a5;
}

.heading-section-deal-of-the-day h3 {
  color: #ad7f7f;
}

.nav-1 .nav-menu .has-drop .drop-menu li a:hover {
  color: #e1a4a5 !important;
  background: none;
}

.slider-1 .au-btn-border:hover {
  color: #e1a4a5;
}

.au-btn-border {
  background: transparent;
  border: 2px solid #e1a4a5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #e1a4a5;
}

.au-btn-border:hover {
  color: #fff;
  background: #e1a4a5;
}

.product-1 .product-content .price, .testimonials-1 .testimonials-name,
.blog-item-1 .blog-item-date i,
.blog-item-1 .blog-item-title a:hover {
  color: #e1a4a5;
}

.au-btn-primary {
  color: #fff;
  background-color: #e1a4a5;
}

.au-btn-primary:hover {
  background-color: #fff;
  color: #e1a4a5;
}

.btn-viewcart {
  border-color: #e1a4a5;
  color: #e1a4a5;
}

.btn-viewcart:hover {
  background-color: #c79192;
  color: #fff;
}

.btn-checkout:hover {
  background-color: #c79192;
  color: #fff;
}

.btn-banner {
  border-color: #e1a4a5;
  color: #fff;
  background-color: #e1a4a5;
}

.btn-banner:hover {
  border-color: #000;
  color: #000;
  background: transparent;
}

.btn-add-to-cart:hover, .cta-btn:hover {
  border-color: #c79192;
  color: #fff;
  background-color: #c79192;
}

.product-1 .product-image .product-action .action-item:hover, .primary-color-background {
  background: #e1a4a5;
}

.product-info-deal-of-the-day .product-image {
  background: #ad7f7f;
}

.deal-of-the-day-1 .product-info-deal-of-the-day .product-content .name {
  color: #ad7f7f;
}

.deal-of-the-day-1 .product-info-deal-of-the-day.left:after,
.deal-of-the-day-1 .product-info-deal-of-the-day.right:after {
  background: #ad7f7f;
}

.testimonials-carousel-1 .owl-prev:hover, .testimonials-carousel-1 .owl-next:hover {
  background: #e1a4a5;
  color: #fff;
}

.product-list-carousel-1 .owl-prev:hover, .product-list-carousel-1 .owl-next:hover {
  background: #e1a4a5;
  color: #fff;
}

.footer-1 .footer-contact ul li i {
  color: #e1a4a5;
}

.owl-item.center .testimonials-1 {
  background: #e1a4a5;
}

.footer-1 .footer-bottom .footer-socials li a {
  color: #e1a4a5;
}

.footer-1 .footer-bottom .footer-socials li:hover {
  background: #e1a4a5;
}

.footer-1 .footer-bottom .footer-socials li:hover a {
  color: #fff;
}

.footer-1 .footer-services ul li a:hover {
  color: #e1a4a5;
}

.call-to-action-2 .cta-form .input-submit {
  background-color: #e1a4a5;
}

.call-to-action-2 .cta-form .input-submit:hover {
  background-color: #c79192;
}

.call-to-action-3 .cta-heading .color {
  color: #e1a4a5;
}

.call-to-action-3 .cta-form .input-submit {
  background: #e1a4a5;
}

.call-to-action-3 .cta-form .input-submit:hover {
  background: #c79192;
}

.product-category-widget-1 .product-category-list li:hover a, .product-category-widget-1 .product-category-list li:hover span {
  color: #e1a4a5;
}

.tags-widget-1 .tags-list li a:hover {
  color: #e1a4a5;
  border-color: #e1a4a5;
}

.filter-by-price-widget-1 .filter-action .btn-filter:hover {
  background: #e1a4a5;
  color: #fff;
}

.pagination-widget-1 .pagination-list .item a:hover, .pagination-widget-1 .pagination-list .item.active a, .pagination-widget-1 .pagination-list li a:hover {
  border-color: #e1a4a5;
  color: #e1a4a5;
}

.product-detail-image-1 .product-primary-image .image-prev:hover, .product-detail-image-1 .product-primary-image .image-next:hover {
  background: #e1a4a5;
}

.product-detail-image-1 .product-primary-image .image-prev:hover i, .product-detail-image-1 .product-primary-image .image-next:hover i {
  color: #fff;
}

.product-detail-content-1 .prodcut-add-to-cart .btn-add-to-wishlist {
  color: #e1a4a5;
  border: 1px solid #e1a4a5;
}

.product-detail-content-1 .prodcut-add-to-cart .btn-add-to-wishlist:hover {
  background: #c79192;
  color: #fff;
}

.product-detail-accordion-1 .review-item .head-review .rating i,
.product-detail-accordion-1 .review-item .head-review .name {
  color: #e1a4a5;
}

.product-detail-accordion-1 .review-submit .btn-submit {
  border: 1px solid #e1a4a5;
  color: #e1a4a5;
}

.product-detail-accordion-1 .review-submit .btn-submit:hover {
  color: #fff;
  background: #e1a4a5;
}

.faqs-1 .accordion.open .accordion-title h4 {
  color: #e1a4a5;
}

.btn-load-more {
  color: #e1a4a5;
  border-color: #e1a4a5;
}

.btn-load-more:hover {
  color: #fff;
  border-color: #e1a4a5;
  background: #e1a4a5;
}

.blog-post-1 .blog-post-tags li a:hover {
  color: #e1a4a5;
  border-color: #e1a4a5;
}

.add-comments-1 .btn-submit-comments {
  border-color: #e1a4a5;
  color: #e1a4a5;
}

.add-comments-1 .btn-submit-comments:hover {
  background: #e1a4a5;
  color: #fff;
}

.contact-1 .contact-info i {
  color: #e1a4a5;
}

.register-1 .btn-submit {
  color: #e1a4a5;
  border: 1px solid #e1a4a5;
}

.register-1 .btn-submit:hover {
  background: #e1a4a5;
  color: #fff;
}

.shopping-cart-1 .btn-submit-coupon {
  border: 1px solid #e1a4a5;
  color: #e1a4a5;
}

.shopping-cart-1 .btn-submit-coupon:hover {
  background: #e1a4a5;
  color: #fff;
}

.shopping-cart-footer .backlink a:hover {
  color: #e1a4a5;
}

.shopping-cart-footer .totals-checkout button:hover {
  background: #c79192;
  color: #fff;
}

.shopping-cart-1 tbody tr .product-name a:hover {
  color: #c79192;
}

.shopping-cart-1 tbody tr .product-remove a:hover {
  color: #f36c6c;
}

.shopping-cart-1 tbody tr .product-atc a:hover {
  color: #e1a4a5;
}

.checkout-1 .checkout-method a:hover {
  color: #e1a4a5;
}

.checkout-1 .checkout-submit .btn-order-submit:hover {
  background: #c79192;
  color: #fff;
}

.popup-button button:hover {
  background: #c79192;
  color: #fff;
}

.header-1 .search .underline {
  background: #e1a4a5;
}

.search-widget-1 .underline {
  background: #e1a4a5;
}

.theme-input-text:focus {
  border: 1px solid #e1a4a5;
}

select:focus, input:focus, textarea:focus {
  border: 1px solid #e1a4a5;
}

.about-3 .about-title a:hover {
  color: #e1a4a5;
}

.tooltip .tooltip-inner {
  background-color: #e1a4a5;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #e1a4a5;
}

.our-store-iconbox-1 .iconbox-title a:hover {
  color: #e1a4a5;
}

#switcher .btn-buy {
  background: #e1a4a5;
}

#switcher .btn-buy:hover {
  background: #c79192;
}

.comments-1 .comments-item .comment-content .author-info .name:hover,
.comments-1 .comments-item .comment-content .reply-link:hover {
  color: #e1a4a5;
}

.header-2 .header-right .header-search .search-box input {
  border: 1px solid #e1a4a5;
}

.product-detail-accordion-1 .review-submit .input-text:focus, .product-detail-accordion-1 .review-submit .textarea:focus {
  border: 1px solid #e1a4a5;
}

.breadcrumb-1 ul li a:hover {
  color: #e1a4a5;
}

.product-detail-image-1 .product-primary-image .owl-prev:hover, .product-detail-image-1 .product-primary-image .owl-next:hover {
  background: #e1a4a5;
  color: #fff;
}

.filter-by-price-widget-1 .filter-bar .filter-bar-fill, .filter-by-price-widget-1 .filter-bar span {
  background: #e1a4a5;
}

.slider-1 .tparrows:hover {
  background: #e1a4a5;
}

.slider-1 .tparrows:hover:before {
  color: #fff;
}

.slider-1 .tparrows:before {
  color: #e1a4a5;
}
